<app-game-list></app-game-list>
<div>
    <h3>About</h3>
    <p>Welcome! You've stumbled across the placeholder for a future website dedicated to video games that help teach a foreign language. This website has no affiliation with any of the games on the list. It is simply a passion project!</p>
    <p>There are two games on this list that are *not* language learning games (Backbone and Dodgeball Academia), however both games include a bilingual 'language switch' feature that allow a player to toggle between two languages during game play.</p>
    <p>A more featured website is in the works, but for now, please enjoy this list of games.</p>
    <p>You can join the Steam Group: <a href="https://steamcommunity.com/groups/LanguageLearningGames">https://steamcommunity.com/groups/LanguageLearningGames</a> in the meantime!</p>
    <p>To contact the organizers of this project, reach out to <a href="https://twitter.com/manzZzari">@manzZzari</a> on Twitter please!</p>
</div>
