.mat-column-releaseDate {
    width: 200px;
    text-align: center;
}

.mat-column-imageUrl {
    text-align: center;
}

td, th {
    padding: 20px !important;
    margin: 20px;
}

img {
    width: 170px;
    margin: 20px;
}